#dokuwiki__aside{
    position: sticky;
    top: 75px;
    bottom: 0;
    overflow: auto;
}

.dw-sidebar-content legend {
    display: none;
}

.dokuwiki div.wrap_todohide{
    display: none;
}

.dokuwiki .wrap_yaml{
    background: #D3D3D3;
    padding: 5% 5% 5% 5%;
}

.dokuwiki .wrap_yaml_label{
    color: grey; 
}

.dokuwiki div.plugin_include_content div.wrap_exclude p{
    display: none;
}

.dokuwiki div.plugin_include_content div.wrap_exclude:after{
    content: "...";
}

.dokuwiki div.plugin_include_content div.wrap_exclude_totally{
    display: none;
}

.dokuwiki .wrap_flashit{
    padding: 1em 1em .5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-color: #dcc2ef;
    background-image: url(/lib/plugins/wrap/images/note/48/help.png);
    background-position: 10px 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.dokuwiki .wrap_flashit .wrap_question::before{
    content: "Question:";
    color: grey; 
}

.dokuwiki .wrap_flashit .wrap_answer::before{
    content: "Answer:";
    color: grey; 
}

.dokuwiki .wrap_flashit .wrap_moreinfo::before{
    content: "More info:";
    color: grey; 
}