#dokuwiki__aside{
    position: sticky;
    top: 75px;
    bottom: 0;
    overflow: auto;
}

.dw-sidebar-content legend {
    display: none;
}

.dokuwiki div.wrap_todohide{
    display: none;
}

.dokuwiki div.plugin_include_content div.wrap_exclude p{
    display: none;
}

.dokuwiki div.plugin_include_content div.wrap_exclude:after{
    content: "...";
}

.dokuwiki div.plugin_include_content div.wrap_exclude_totally{
    display: none;
}
